[Unit]
Description=Nano node service
After=network.target

[Service]
User=canoed
WorkingDirectory=/home/$USER
LimitNOFILE=65536
ExecStart=/home/$USER/rai_node --daemon --data_path /home/$USER/$DATA_DIR
Restart=always
User=$USER
Group=$USER

[Install]
WantedBy=multi-user.target
